<div class="chat">
    <span class="chat-encryption-container">
        <!-- BEGIN encrypted -->
    <span class="chat-encryption chat-encrypted">{ENCRYPTED_TEXT}</span>
        <!-- END encrypted -->
        <!-- BEGIN unencrypted -->
    <span class="chat-encryption chat-unencrypted">{UNENCRYPTED_TEXT}</span>
        <!-- END unencrypted -->
    </span>
    <div class="chat-messages-container">

    </div>
    <div class="chat-message-writer">
        <textarea id="chat-message-writer-message" class="chat-message-writer-message" type="text"></textarea>
        <button class="chat-message-writer-send">{SEND_TEXT}</button>
    </div>
</div>
